.title{
    border-style: ridge;
    border-width: medium;
    text-align: center;
    background-color: rgb(179, 24, 24)  ;
    border-color: rgb(84, 7, 7);
    
}
.right{
    flex:1;
    border-style: ridge;
    background-color: darkgray;
    border-color: black;
 text-align: center;
 font-size: 30px;
 align-content: center;
}
.faces{
    flex:5;
 
}
.holder{
    display: flex;
}
.caption{
    width:300px;
    border-style: none;
    margin-left: 300px;
    margin-right: 300px;
    margin:auto;
    display: inline-block;
    height: 300px;
    text-align: 300px;
}
.img{
    position: absolute;
    width:300px;
    border-style: none;
    margin-left: 300px;
    margin-right: 300px;
    margin:auto;
    display: inline-block;
    height: 300px;
    text-align: 300px;

}

.ending{
    color:rgb(255, 0, 0);
    text-align: center;
}
.sidebox{
    background-position: right,center;
    border-style: ridge;
    text-align: center;
    background-color: rgb(196, 76, 76);
    border-color: rgb(99, 0, 0);
    align-content: right;
    display: inline-block;
    width:50px;
    height:100px;
    color:rgb(159, 42, 42);
    margin-left: auto;
    margin-right: auto;
}
p1{
    color:rgb(188, 41, 41);
   font-size: 30px;
}
